{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Accesorios
{% endblock titulo %}


{% block cabecera %}
    Listado de Accesorios
{% endblock cabecera %}
    
{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Accesorios</h2></td>
        <td>
            <a>
            href="{% url 'create_accesorio' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Nacionalidad</th>
        </tr>
    </thead>
    <tbody>
    {% for accesorio in accesorios %}
    <tr>
        <td>{{ accesorio.id }}</td>
        <td>{{ accesorio.nombre }}</td>
        <td>{{ accesorio.marca }}</td>
        <td>{{ accesorio.nacionalidad }}</td>
        <td>
            <a
              href="{% url 'update_accesorio' accesorio.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_accesorio' accesorio.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}